<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy & Help ADMIN</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'index' %}">Sección Servidor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Acción</a>
          <a class="dropdown-item" href="#">Otra acción</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Algo más</a>
        </div>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/admin">Administrador de Recursos</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4101">Sección Administración</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:8000/apis">API</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
    </nav>

<section>
<h1>API DE LA BASE DE DATOS</h1>
    <div class="list-group">
      <a href="http://localhost:8000/api/articulos" class="list-group-item list-group-item-action">Articulos</a>
      <a href="http://localhost:8000/api/roles" class="list-group-item list-group-item-action">roles</a>
      <a href="http://localhost:8000/api/usuarios" class="list-group-item list-group-item-action">usuarios</a>
      <a href="http://localhost:8000/api/categorias" class="list-group-item list-group-item-action">categorias</a>
        <a href="http://localhost:8000/api/estadopedido" class="list-group-item list-group-item-action">estadopedido</a>
        <a href="http://localhost:8000/api/pedido" class="list-group-item list-group-item-action">pedido</a>
        <a href="http://localhost:8000/api/articulospedido" class="list-group-item list-group-item-action">articulospedido</a>
        <a href="http://localhost:8000/api/tipopago" class="list-group-item list-group-item-action">tipopago</a>
        <a href="http://localhost:8000/api/pago" class="list-group-item list-group-item-action">pago</a>
        <a href="http://localhost:8000/api/publicacion" class="list-group-item list-group-item-action">publicacion</a>
        <a href="http://localhost:8000/api/puntuacionvendedor" class="list-group-item list-group-item-action">puntuacionvendedor</a>
    </div>

</section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>GRUPO 404 NOT FOUND</p>
</div>
</html>